/* style.css */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffde7;
    margin: 0;
    padding: 0;
    color: #212121;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #000000; /* black text */
    background-color: #ffeb3b; /* yellow box */
    font-size: 2.5em;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

h2 {
    margin-top: 0;
    background-color: #ffeb3b; /* yellow box */
    color: #000; /* black text */
    padding: 10px;
    border-radius: 8px